:root {
  --primary: #c9faa5;
  --primary-hover: #b8e994;
  --background: #fff;
  --foreground: #000;
  --form: #eee;
  --input: #fff;
}
body {
  font-family: 'Arimo';
  padding: 30px;
  background: var(--background);
}
::selection {
  background: var(--primary);
  color: #000;
}
h1 {
  margin: 0;
  font-size: 38px;
}
label, .no_notes{
  font-size: 21px;
  color: var(--foreground);
}
a{
  text-decoration: none;
}
button{
  font-family: 'Arimo';
  cursor: pointer;
}
.btn_primary{
  background: var(--primary-hover);
  border: 0;
  font-size: 20px;
  padding: 10px;
  width: 85px;
  outline: none;
  height: 45px;
  transition: 0.4s;
  color: var(--foreground);
}
.btn_secondary {
  background: transparent;
  border: 0;
  font-size: 20px;
  padding: 10px;
  width: 100px;
  outline: none;
  color: var(--foreground);
}
@keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}.animate__slideInDown{-webkit-animation-name:slideInDown;animation-name:slideInDown}
@keyframes slideOutUp{0%{-webkit-transform:translateZ(0);transform:translateZ(0)}to{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:hidden}}.animate__slideOutUp{-webkit-animation-name:slideOutUp;animation-name:slideOutUp}
.decision{
    margin: auto;
    position: absolute;
    width: 400px;
    height: 120px;
    top: 30px;
    left: 0;
    right: 0;
    max-width: 90%;
    background: var(--primary);
    color: #fff;
    font-size: 28px;
    text-align: center;
    padding-top: 30px;
}
.decision button{
  border: 0;
  outline: none;
  height: 35px;
  width: 100px;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.4s;
}
#btn_no{
  background: #e74c3c;
  margin-left: 10px;
}
#btn_no:hover{
  background: #d63b2b;
}
#btn_yes{
    background: #2ecc71;
    margin-right: 10px;
}
#btn_yes:hover{
    background: #1dbb60;
}